* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(66, 45, 45);
    
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card{
    max-width: 500px;
    height: 120px;
    width: 500px;
    background-color: rgb(254, 255, 255);
    overflow: hidden;
    animation-name: change-color;
    animation-duration: 3000ms;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
    margin: 0 auto;
    text-decoration-color: black;
}

@keyframes change-color{
    0%{color: burlywood;}
    25%{color: blue;}
    50%{color: cadetblue;}
    80%{color: chocolate;}
    100%{color: rgb(104, 104, 3);}
}