*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Roboto";
}


.container {
    display: grid;
    background-color: rgb(34, 143, 107);
    grid-template-columns: repeat(2, 1fr); 
    gap: 16px;
    padding: 16px;
  }
  
  @media (max-width: 768px) {
    .container {
      grid-template-columns: 1fr;
    }
  }
  